
<div class="main-container">

  <div class="row col s12">

    <!-- Search Properties Bar -->
    <div class="row col s6 offset-s3">
      <div class="input-field">
        <i class="material-icons prefix">search</i>
        <input id="search" class="center" type="text" placeholder="Enter a Street Address, City, State, or Zip" ng-model="searchText">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s8 offset-s2">
      <div id={{post.id}} class="card hoverable" ng-repeat="post in postingsArray | filter: searchText">

      <!-- Primary posting image -->
        <div class="image-wrapper card-image materialboxed" ng-click="carouselModal(post.id)">
          <a><img ng-src="{{post.main_image}}" alt="Rental Home Image"></a>
          <span class="card-title col s12">
            <a class="btn-floating btn-small waves-effect waves-light red lighten-2" ng-click="photoModal(post.id)"><i class="material-icons">add_a_photo</i></a> {{post.address}}, {{post.city}}, {{post.state}} {{post.zip_code}} 
          </span>
          <span id="avg-label" class="card-title col s12 right-align">
            <label class="rr-label">rr</label><label class="image-label"><strong style="font-family: 'AriadneBR'; font-size: 1.4em;">rating: </strong><strong>{{post.avg_rating}}</strong></label>
          </span>

        </div>
      
      <!-- Display User Comments -->
        <div id="comment-div" class="comment-wrapper card-content col m6 hoverable">
          <button class="gold-heading btn-flat waves-effect waves-light" ng-click="commentModal(post.id)">
            <strong>Comments</strong>
              <i class="material-icons right">playlist_add</i>
          </button>
          <div class="list-wrapper">
            <div class="comment-list list" ng-repeat="comment in post.comments">
              <h6 class="user-heading heading">
                &#9675; {{comment.userName}} &#9675;
                <label style="color: #4db6ac;" ng-show="{{comment.tenanted}}">I've lived here!</label>
                <label style="color: #ee6e73;" ng-show="{{!comment.tenanted}}">I've visited!</label>
              </h6>
              <p><em> "{{comment.user_comment}}" </em></p>
            </div>
          </div>
        </div>

      <!-- Pros section with list of PROS -->
        <div class="pro-wrapper card-content col s3 hoverable">
        	<button class="good-heading btn-flat waves-effect waves-light" ng-click="proModal(post.id)">
            <strong>Pros</strong>
              <i class="material-icons right">playlist_add</i>
          </button>
          <div class="list-wrapper">
            <div class="pro-list list" ng-repeat="pro in post.posting_pros">
              <h6 class="heading">
                &#9675; {{pro.userName}} &#9675;
                <label style="color: #4db6ac;" ng-show="{{pro.tenanted}}">I've lived here!</label>
                <label style="color: #ee6e73;" ng-show="{{!pro.tenanted}}">I've visited!</label>
              </h6>
            	<ul>
            		<li> {{pro.pro1}} </li>
                <li> {{pro.pro2}} </li>
                <li> {{pro.pro3}} </li>
                <li> {{pro.pro4}} </li>
                <li> {{pro.pro5}} </li>
                <li> {{pro.pro6}} </li>
            	</ul>
            </div>
          </div>
        </div>

      <!-- Cons section with list of Cons -->
        <div class="con-wrapper card-content col s3 hoverable">
          <button class="bad-heading btn-flat waves-effect waves-light" ng-click="conModal(post.id)">
            <strong>Cons</strong>
              <i class="material-icons right">playlist_add</i>
          </button>
          <div class="list-wrapper">
            <div class="con-list list" ng-repeat="con in post.posting_cons">
              <h6 class="heading">
                &#9675; {{con.userName}} &#9675;
                <label style="color: #4db6ac;" ng-show="{{con.tenanted}}">I've lived here!</label>
                <label style="color: #ee6e73;" ng-show="{{!con.tenanted}}">I've visited!</label>
              </h6>
            	<ul>
            		<li> {{con.con1}} </li>
                <li> {{con.con2}} </li>
                <li> {{con.con3}} </li>
                <li> {{con.con4}} </li>
                <li> {{con.con5}} </li>
                <li> {{con.con6}} </li>
            	</ul>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="card-action col s12">
            <a class="btn-flat" ng-click="commentModal(post.id)"><i class="material-icons">comment</i> Hey, I've been here!</a>
          </div>
        </div>

      <!-- End of Posting Card content -->
      </div>
    <!-- End of col s12 -->
    </div>
  <!-- End of Main Posting Row -->
  </div>

<!-- End main-container -->
</div>

<div class="all-modals">

  <!-- carouselModal Structure -->
  <div id="carouselModal{{post.id}}" class="photo-modal modal row col s12" ng-repeat="post in postings">
    <div class="photo-carousel" ng-repeat="image in post.images">
      <ul>
        <li class="center carousel-item"><img ng-src="{{image.image}}" alt="Rental Home Image"></li>
      </ul>
    </div>
  </div>

  <!-- photoModal Structure -->
  <div id="photoModal{{post.id}}" class="modal row col s12" ng-controller="photoCtrl" ng-repeat="post in postings">
    <div class="modal-content">

      <div class="row col s12">
        <div class="file-field input-field">
          <div class="btn">
            <span>Share an Image</span>
            <input type="file" ngf-select="setNewImage($files)" multiple>
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Upload a photo to share">
          </div>
        </div>
      </div>

    </div>
    <div class="col s12 modal-footer" style="text-align: right;">
      <label class="col s6 offset-s2 modal-label">Nice pic.</label>
      <button class="modal-action modal-close waves-effect waves-green btn" ng-click="addNewPhotos(post.id)">Save to Listing</button>
    </div>
  </div>

  <!-- commentModal Structure -->
  <div id="commentModal{{post.id}}" class="modal row col s12" ng-controller="commentCtrl" ng-repeat="post in postings">
    <div class="modal-content">

      <div class="row col s12">
        <p class="col s4 offset-s3">
          <input name="group1" type="radio" id="test1" ng-click="tenantStatus()"/>
          <label for="test1">I was a tenant</label>
        </p>
        <p class="col s4">
          <input name="group1" type="radio" id="test2" ng-click="tenantStatus()"/>
          <label for="test2">I was a visitor</label>
        </p>
      </div>

      <h5>Tell us about {{post.address}}</h5>
      <div class="input-field col s12">
        <textarea id="textarea1" class="materialize-textarea" ng-model="newComment"></textarea>
        <label for="textarea1">How Was Your Experience</label>
      </div>

    </div>

    <div class="col s12 modal-footer">
      <span id="star-ratings">
        <span ng-init="rating = star.rating - 1"></span>
        <span class="star-rating" star-rating rating-value="rating" data-max="5" on-rating-selected="rateFunction(rating, post.id)"></span>
      </span>
      <label class="col s3 offset-s1 modal-label" style="text-align: right;">Thanks for sharing!</label>
      <button class="modal-action modal-close waves-effect waves-green btn" ng-click="addNewComment(post.id)">Leave comment</button>
    </div>
  </div>


  <!-- proModal Structure -->
  <div id="proModal{{post.id}}" class="modal row col s12" ng-controller="proCtrl" ng-repeat="post in postings">
    <div class="modal-content">

      <div class="row col s12">
        <p class="col s4 offset-s3">
          <input name="group2" type="radio" id="test3" ng-click="tenantStatus()"/>
          <label for="test3">I was a tenant</label>
        </p>
        <p class="col s4">
          <input name="group2" type="radio" id="test4" ng-click="tenantStatus()"/>
          <label for="test4">I was a visitor</label>
        </p>
      </div>

      <h5>What's the scoop at {{post.address}}?</h5>
      <div class="col s6 input-field">
        <input type="text" ng-model="pro1"><label>1 Good Thing</label>
      </div>
      <div class="col s6 input-field">
        <input type="text" ng-model="pro2"><label>2 Good Things!</label>
      </div>
      <div class="col s6 input-field">
        <input type="text" ng-model="pro3"><label>3 Good Things!!</label>
      </div>
      <div class="col s6 input-field">
        <input type="text" ng-model="pro4"><label>4 Good Things!!!</label>
      </div>
      <div class="col s6 input-field">
        <input type="text" ng-model="pro5"><label>5 Good Things!!!!</label>
      </div>
      <div class="col s6 input-field">
        <input type="text" ng-model="pro6"><label>6 Good Things!!!!!</label>
      </div>

    </div>
    <div class="col s12 modal-footer" style="text-align: right;">
      <label class="col s6 offset-s4 modal-label">Now, there's something to think about!</label>
      <button class="modal-action modal-close waves-effect waves-green btn" ng-click="addNewPro(post.id)">Save</button>
    </div>
  </div>

  <!-- conModal Structure -->
  <div id="conModal{{post.id}}" class="modal row col s12" ng-controller="conCtrl" ng-repeat="post in postings">
    <div class="modal-content">

      <div class="row col s12">
        <p class="col s4 offset-s3">
          <input name="group3" type="radio" id="test5" ng-click="tenantStatus()"/>
          <label for="test5">I was a tenant</label>
        </p>
        <p class="col s4">
          <input name="group3" type="radio" id="test6" ng-click="tenantStatus()"/>
          <label for="test6">I was a visitor</label>
        </p>
      </div>

      <h5>What's the scoop at {{post.address}}?</h5>
      <div class="col s6 input-field">
        <input type="text" ng-model="con1"><label>1 Bad Thing</label>
      </div>
      <div class="col s6 input-field">
        <input type="text" ng-model="con2"><label>2 Bad Things!</label>
      </div>
      <div class="col s6 input-field">
        <input type="text" ng-model="con3"><label>3 Bad Things!!</label>
      </div>
      <div class="col s6 input-field">
        <input type="text" ng-model="con4"><label>4 Bad Things!!!</label>
      </div>
      <div class="col s6 input-field">
        <input type="text" ng-model="con5"><label>5 Bad Things!!!!</label>
      </div>
      <div class="col s6 input-field">
        <input type="text" ng-model="con6"><label>6 Bad Things!!!!!</label>
      </div>

    </div>

    <div class="col s12 modal-footer" style="text-align: right;">
      <label class="col s6 offset-s4 modal-label">Now, there's something to think about!</label>
      <button class="modal-action modal-close waves-effect waves-green btn" ng-click="addNewCon(post.id)">Save</button>
    </div>
  </div>

<!-- End all-modals div -->
</div>










