<nav class="navbar">
	<div class="nav-wrapper">
		<!-- TOP section of Nav -->
		<a href="#/main" class="brand-logo center">renter relay</a>
	  <ul id="nav-tab" class="right">
	  <!-- If user is authenticated, show logout option -->
	    <li ng-if="isAuthenticated()"><a href="#/user-account">My <strong style="font-family: 'AriadneBR'; font-size: 1.4em; color: #a7ffeb;">rr</strong></a></li>
	    <li ng-if="isAuthenticated()"><a ng-click="logout()">Logout</a></li>
	    <li ng-if="!isAuthenticated()"><a>Log In or Register</a></li>
	  </ul>
	  <!-- SIDE section of Nav -->
		<a href="#" data-activates="slide-out" data-sidenav="left" class="button-collapse"><i class="material-icons">menu</i></a>
	  <ul id="slide-out" class="side-nav fixed">
	  	<li id="nav-logo" class="hoverable">rr</li>
	    <li ng-if="isAuthenticated()" class="hoverable"><a href="#/add-property">List a Property</a></li>
	    <li ng-if="isAuthenticated()" class="hoverable"><a href="#/main">View Properties</a></li>
	    <li class="hoverable"><a ng-click="aboutModal()">About</a></li>
	    <li ng-if="isAuthenticated()" class="hoverable"><a href="mailto:renterrelay@gmail.com?subject=Issue Report for RenterRelay.com">Report An Issue</a></li>
	  </ul>
	</div>
</nav>

<!-- aboutModal Structure -->
<div id="aboutModal" class="modal row col s12">
  <div class="row col s12 center">
    <h5 class="good-heading welcome-line">
    	Welcome to Renter Relay.
    </h5>
    <p class="good-heading welcome-line">
    	The purpose of this application is to allow users to securely post photos, reviews, comments, pros, and cons about rental properties with which he/she has had personal experiences.
    </p>
    <p class="good-heading welcome-line">
    	Think of Renter Relay as a 'glass door' between rental property tenants and property owners.
    </p>
    <p class="good-heading welcome-line">
    	I want my users to be able to expose both good things and bad things about the rental properties in which they have lived and/or visited.
    </p>
    <p class="good-heading welcome-line">
    	To learn more, please visit <a href="http://jeremycswain.github.io/Renter-Relay">the GitHub repository</a> for this project. Thanks for visiting!
    </p>

    <footer class="good-heading welcome-line">
    	*This application is still in its development phase, but please take a minute to create an account and have a look around!
    </footer>
  </div>
    
  <div class="row">
  	<footer class="good-heading welcome-line center">
			&copy; 2016 <a href="www.jeremythedev.com">Jeremy C. Swain</a>
		</footer>
	</div>
</div>

